@page "/settings"

<form class="container mt-4">
    <AzureDevOpsSettingsInputs />

    <PersonalAccessTokenInput />

    <NavLink class="btn btn-secondary btn-block mt-4" href="">Back</NavLink>
</form>